<%= render 'layouts/porfoilio_navbar'%>
   <div class="space-top"> </div>
   <span class="wow fadeInRight"><a href="https://www.christopia.info/" title="Chris Hanson"><img class="logo" src="/assets/logo.png" alt="Chris Hanson" /></a></span>
   
   <div id='home' class="container">
   <div class=' wow fadeInLeft facebook-badge'>
      <a href="https://www.facebook.com/crystalmethodist" title="Chris Hanson"><img class="profilepic" src="/assets/profilepic.jpg"" " /></a><!-- Facebook Badge END -->
   </div>
   
   <div class='wow fadeInRight about-me'>
      <h3 id='about-me'>About me</h3>
      <p>I am a film and media productions major at Taylor University with a minor in computer science. I specialize in the digital side of media production. I enjoy projects including making video, websites and things of my own invention.  This website was designed to show you my previous works and to be a little window into who I am. </p>
      <a class="btn btn-info" href="/assets/Functional_Resume_Final.pdf" role="button">Resumé &raquo;</a>  
      <span class='connect-icons-top'>
      <a href="https://www.facebook.com/crystalmethodist" style="color: #585858" title="Chris Hanson"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="http://www.linkedin.com/profile/view?id=313487612" style="color: #585858" title="Chris Hanson"><i class="fa fa-linkedin-square fa-2x"></i></a> 
      </span>
   </div>
   <hr>
   <h1 class="wow fadeInDown" id='projects'>Webdesign projects</h1>
   <div class="wow fadeInDown row">
      <div class="col-lg-4">
         <div><a href="http://cse.taylor.edu/~chanson/FINAL/" alt="final"> <img class="portfolio_pic" src="/assets/final.png" alt="Final Project Preview" /></a></div>
         <h2>Intro web design final</h2>
         <p>This project was designed for an introduction to we design for a timed final of two hours. Made to demostrate ability to use HTML JS and CSS effectively</p>
         <p><a class="btn btn-info" href="http://cse.taylor.edu/~chanson/FINAL/" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <div><a href="/users" alt="game_contest_server"><img class="portfolio_pic" src="/assets/game_contest_server.png" alt="Game Contest Server Preview" /></a></div>
         <h2>Game contest server</h2>
         <p>This website was part of a semester long project to a multi-tier web application class. This project was to make a simple server to manage a game and its contests though a database.</p>
         <p><a class="btn btn-info" href="/users" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <div ><a href="http://jailbreaksync.herokuapp.com/" alt="jailbreaksync"><img class="portfolio_pic" src="/assets/jailbreaksync.png" alt="Jailbreak Sync Preview" /></a></div>
         <h2>Jailbreak sync</h2>
         <p>This website was created as an experiment in hopes of rallying a community to make the Ford/Microsft sync more customizable, unlocking many opportunities for the end user.</p>
         <p><a class="btn btn-info" href="http://jailbreaksync.herokuapp.com/" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
   </div>
   
   <!-- /.row -->
   
   <div class="wow fadeInDown row">
      <div class="col-lg-4 col-md-offset-2">
         <div><a href="http://www.bamfathletes.com/" alt="BAMF"> <img class="portfolio_pic" src="/assets/BAMF.jpg" alt="Final Project Preview" /></a></div>
         <h2>BAMF Athletes</h2>
         <p>This website was made as a project to advertize a hypothetical gym.</p>
         <p><a class="btn btn-info" href="http://www.bamfathletes.com/" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <div><a href="http://www.techlightning.net" alt="techlightning"><img class="portfolio_pic" src="/assets/techlightning.jpg" alt="Game Contest Server Preview" /></a></div>
         <h2>Techlightning</h2>
         <p>This is one of the first websites I have ever made, used to advertize my own local computer fixing buisness.</p>
         <p><a class="btn btn-info" href="http://www.techlightning.net" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
     
      <!-- /.col-lg-4 -->
   </div>
   <!-- /.row -->

<hr>

   <h1 class="wow fadeInDown" id='projects'>Video projects</h1>
   <div class="wow fadeInDown row">
      <div class="col-lg-4">
      
         <div><span class='fancybox-button'>  
         <a class="fancybox-thumb fancybox.iframe " rel="think-fast" href="http://www.youtube.com/v/TuBrI14qoJ8?fs=1&amp;autoplay=1" title="Think Fast">
         <img class="headerpic portfolio_pic" src="http://img.youtube.com/vi/TuBrI14qoJ8/0.jpg" alt="" />
         </a>
         </span>
         
         
         </div>
         <h2>Think Fast</h2>
         <p>This project was my final project for my directing and cinematography class in which students would make a movie trailer for a hypothtical movie. </p>
         <p><a class="btn btn-info fancybox-thumb fancybox.iframe " href="http://www.youtube.com/v/TuBrI14qoJ8?fs=1&amp;autoplay=1" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class='fancybox-button'>  
         <a class="fancybox-thumb fancybox.iframe " rel="think-fast" href="http://www.youtube.com/v/pU6Ti_BKwNg?fs=1&amp;autoplay=1" title="Stairway to Heaven">
         <img class="headerpic portfolio_pic" src="http://img.youtube.com/vi/pU6Ti_BKwNg/0.jpg" alt="" />
         </a>
         </span>
         <h2>Stairway to Heaven</h2>
         <p>My first project for my intro to film class in which a stairway becaomes one way to get to heaven.</p>
         <p><a class="btn btn-info" href="http://www.youtube.com/v/pU6Ti_BKwNg?fs=1&amp;autoplay=1" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <span class='fancybox-button'>  
         <a class="fancybox-thumb fancybox.iframe " rel="think-fast" href="http://www.youtube.com/v/Xe4N7J2KZik?fs=1&amp;autoplay=1" title="In Love With my Car">
         <img class="headerpic portfolio_pic" src="http://img.youtube.com/vi/Xe4N7J2KZik/0.jpg" alt="" />
         </a>
         </span>
 
         
         <h2>In Love With my Car</h2>
         <p>A video project demonstrating different camera techniques for a directing and cinematography class</p>
         <p><a class="btn btn-info" href="http://www.youtube.com/v/Xe4N7J2KZik?fs=1&amp;autoplay=1" role="button">Check it out! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
   </div>
   </div>
   <hr>
<div class="wow fadeInDown board parallaxify" data-stellar-background-ratio=".5" ">
   
      <div class='wow fadeInDown container'>
         <div class="parallax-margin">
         <h1 class="parallax-text-shadow">Creative projects</h1>
         <p class="parallax-text-shadow"> I have always had the love to create. Here is just a small sample of some things I have made. I only wish I would have documented better!</p>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0771.JPG" title="Heavily modified power-wheels Age:11 no adult supervision">
         <img class="headerpic" src="/assets/creative/IMG_0771v2.JPG" alt="" />
         </a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0763.JPG" title="There's even space in the driveway!"></a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0764.JPG" title="Dash with live controls and sterio sound"></a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0765.JPG" title="Crude wiring, but hey it worked, fan installed to prevent battery overheating(it didn't help)"></a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0766.JPG" title="Flintones style for longer legs"></a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0767.JPG" title="Secondary battery for headlights, sterio and fan"></a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0768.JPG" title="Sorry, no tail lights"></a>
         <a class="fancybox-thumb" rel="power-wheels" href="/assets/creative/IMG_0769.JPG" title="Forward/Reverse control"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0087.JPG" title="FTIR multi-touch surface">
         <img class="headerpic" src="/assets/creative/IMG_0087v2.JPG" alt="" />
         </a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0012.jpg" title="Drilling holes for IR LEDs in frame"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0022.jpg" title="Hours of soldering"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0025.jpg" title="Hundreds of LEDs"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0029.JPG" title="Testing with IR camera, because IR means we cant tell if they're on."></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0030.JPG" title="Artistic view"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0033.JPG" title="Ready for wiring"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0034.JPG" title="Artistic shot #2"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0038.JPG" title="All lit up"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0037.JPG" title="Camera tuning"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0281.JPG" title="THE HAND!"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0289.JPG" title="First sucsesful run with driver"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0334.JPG" title="Added wood frame for durability"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0338.JPG" title="Edge view"></a>
         <a class="fancybox-thumb" rel="multi-tiouch" href="/assets/creative/IMG_0246.JPG" title="Prototype done!"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="electric-motorcycle" href="/assets/creative/IMG_0050.jpg" title="Electric motorcycle! It fits in my dorm room! (kind of) ">
         <img class="headerpic" src="/assets/creative/IMG_0050v2.jpg" alt="" />
         </a>
         <a class="fancybox-thumb fancybox.iframe" rel="electric-motorcycle" href="/assets/creative/motorcycle.mp4" title="Video of the test"></a>
         <a class="fancybox-thumb" rel="electric-motorcycle" href="/assets/creative/IMG_0053.jpg" title="Lawn batteries x3(beacuse theyre cheap) "></a>
         <a class="fancybox-thumb" rel="electric-motorcycle" href="/assets/creative/IMG_0061.JPG" title="full view "></a>
         <a class="fancybox-thumb" rel="electric-motorcycle" href="/assets/creative/IMG_0062.JPG" title="Drivetrain!"></a>
         <a class="fancybox-thumb" rel="electric-motorcycle" href="/assets/creative/IMG_0063.JPG" title="(yes i am using a 200A breaker as the on/off switch) my budget: Stuff I can find laying around"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb fancybox.iframe" rel="prom-box" href="/assets/creative/IMG_2914.mp4" title="An amimated LED/cell phone box I made to ask a Maggie Murphy to prom ">
         <img class="headerpic" src="/assets/creative/prom.png" alt="" />
         </a>
         <a class="fancybox-thumb" rel="prom-box" href="/assets/creative/IMG_2906.JPG" title="Punched through all the leds"></a>
         <a class="fancybox-thumb" rel="prom-box" href="/assets/creative/IMG_2909.jpg" title="Uh where'd I put that wiring diagram?"></a>
         <a class="fancybox-thumb" rel="prom-box" href="/assets/creative/IMG_2911.jpg" title="Micro-soldered the cell phone components"></a>
         <a class="fancybox-thumb" rel="prom-box" href="/assets/creative/IMG_2921.jpg" title="Arduino, cell phone, leds, amplifier and sketch wiring, worked like a charm. Dear post office: I hope this doesnt look like a bomb"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb fancybox.iframe" rel="fireworks" href="/assets/creative/IMG_2548.mp4" title="Ardino controlled remote controlled timed fireworks launcher!">
         <img class="headerpic" src="/assets/creative/fireworksv2.jpg" alt="" />
         </a>
         <a class="fancybox-thumb" rel="fireworks" href="/assets/creative/fireworks.jpg" title=""></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="siren" href="/assets/creative/IMG_0124.jpg" title="Cell-phone activated siren disguised as waterbottle. Sorry, no picture of the final product">
         <img class="headerpic" src="/assets/creative/IMG_0124v2.jpg" alt="" />
         </a>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="rgbled" href="/assets/creative/IMG_0202.jpg" title="Arduino controlled RGB LED controller for when your not satsified with the chinese ones">
         <img class="headerpic" src="/assets/creative/IMG_0202v2.jpg" alt="" />
         </a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="laser" href="/assets/creative/IMG_0845.jpg" title="diffraction grating, 5mw laser module and slow-moving motors make any dance party great">
         <img class="headerpic" src="/assets/creative/IMG_0845v2.jpg" alt="" />
         </a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="speaker-array" href="/assets/creative/IMG_1583.jpg" title="A high-school computer lab worth of internal speakers makes a... well... not that great speaker array">
         <img class="headerpic" src="/assets/creative/IMG_1583v2.jpg" alt="" />
         </a>
         <a class="fancybox-thumb" rel="speaker-array" href="/assets/creative/IMG_1582.jpg" title="This eventually became one giant computer speaker"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="speaker" href="/assets/creative/IMG_3343.jpg" title="35Watt custom soldered amplifier and li-ion battery makes for hours of great quality portable music ">
         <img class="headerpic" src="/assets/creative/IMG_3343v2.jpg" alt="" />
         </a>
         <a class="fancybox-thumb" rel="speaker" href="/assets/creative/IMG_3342.jpg" title="Insde the beast"></a>
         <a class="fancybox-thumb" rel="speaker" href="/assets/creative/IMG_3339.jpg" title="Deep inside..."></a>
         <a class="fancybox-thumb" rel="speaker" href="/assets/creative/IMG_3346.jpg" title="IO panel. It also had the ability to power anything 12Volts and plug into another speaker for sterio fun!"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="subwoofer" href="/assets/creative/IMG_2595.JPG" title="Hommade subwoofer (middle) with custom amplifier modled after pro-grade audio ended up competing with a $1000 paradigm">
         <img class="headerpic" src="/assets/creative/IMG_2595v2.JPG" alt="" />
         </a>
         </span>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="lab" href="/assets/creative/IMG_1822.jpg" title="My lab. excessive? maybe. Complete with server rack!">
         <img class="headerpic" src="/assets/creative/IMG_1822v2.jpg" alt="" />
         </a>
         <a class="fancybox-thumb" rel="lab" href="/assets/creative/IMG_1825.jpg" title="My lab. excessive? maybe. Complete with server rack!"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb fancybox.iframe" rel="spirograph" href="/assets/creative/spirograph.mp4" title="Laser spirograph age:15">
         <img class="headerpic" src="/assets/creative/spirograph.jpg" alt="" />
         </a>
         <a class="fancybox-thumb" rel="spirograph" href="/assets/creative/spirographv2.jpg" title="Long exposure"></a>
         </span>
         <span class='fancybox-button'>
         <a class="fancybox-thumb" rel="handi-cap" href="/assets/creative/IMG_2228.jpg" title="Handicap scooter found on the side of the road">
         <img class="headerpic" src="/assets/creative/IMG_2228v2.jpg" alt="" />
         </a>
         <a class="fancybox-thumb fancybox.iframe" rel="handi-cap" href="/assets/creative/scooter.mp4" title="Motor test"></a>
         <a class="fancybox-thumb" rel="handi-cap" href="/assets/creative/IMG_2230.jpg" title="not the right choice of batteries"></a>
         <a class="fancybox-thumb" rel="handi-cap" href="/assets/creative/IMG_2422.jpg" title="Two car batteries, a PWM and a rubbermaid box later"></a>
         <a class="fancybox-thumb" rel="handi-cap" href="/assets/creative/IMG_2423.jpg" title="built in charger!></a>
            <a class="fancybox-thumb" rel="handi-cap" href="/assets/creative/IMG_2425.jpg" title="ah, what a machine"></a>
         </span>
      </div>
   </div>
</div>
<div class="wow fadeInLeft footer">
   <div class="connect-icons">
      <a href="https://www.facebook.com/crystalmethodist" style="color: #585858" title="Chris Hanson"><i class="fa fa-facebook-square fa-3x"></i></a><br>
      <a href="http://www.linkedin.com/profile/view?id=313487612" style="color: #585858" title="Chris Hanson"><i class="fa fa-linkedin-square fa-3x"></i></a> 
   </div>
   <div class="wow fadeInRight footer-innertext">
      Website designed and hosted by Chris Hanson  <a style="float:right;"href="mailto:chris.hanson6680@gmail.com" >chris.hanson6680@gmail.com</a>
   </div>
</div>
<script type="text/javascript">
   $(document).ready(function() {
   	$(".fancybox-thumb").fancybox({
   		prevEffect	: 'none',
   		nextEffect	: 'none',
   		helpers	: {
   			title	: {
   				type: 'outside'
   			},
   			thumbs	: {
   				width	: 75,
   				height	: 75
   			}
   		}
   	});
   });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47246338-1', 'christopia.info');
  ga('send', 'pageview');

</script>
