<% provide(:title, 'All referees') %>
<%= render 'layouts/gcs_navbar'%>
<div class="container">
<h1>List of referees</h1>
<h2><%= @referees.length%> referees</h2>
<ul>
  <%= render @referees %>
</ul>
</div>